# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/

.vscode/

# Data and outputs (large files)
data/
outputs/
*.h5
*.keras
